DATABASE_URL=postgresql+asyncpg://[username]:[password]@localhost:5432/[database_name]
SECRET_KEY=[YOUR_SECRET_KEY]
ALGORITHM=[YOUR_ALGORITHM]
ACCESS_TOKEN_EXPIRE_MINUTES=[YOUR_ACCESS_TOKEN_EXPIRE_MINUTES]
REFRESH_TOKEN_EXPIRE_DAYS=[YOUR_REFRESH_TOKEN_EXPIRE_DAYS]